[
  %% Video Signaling configuration
  {video_signaling, [
  ]},
  
  %% Video Web configuration
  {video_web, [
    {http_port, 8080},
    {https_port, 8443}
  ]},
  
  %% Mnesia configuration
  {mnesia, [
    {dir, "/var/lib/video_backend/mnesia"}
  ]},
  
  %% Kernel configuration
  {kernel, [
    {logger_level, info},
    {logger, [
      {handler, default, logger_std_h,
        #{config => #{file => "/var/log/video_backend/erlang.log"},
          formatter => {logger_formatter, #{}}}}
    ]}
  ]},
  
  %% SASL configuration
  {sasl, [
    {sasl_error_logger, {file, "/var/log/video_backend/sasl.log"}}
  ]}
].
