{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"},
    {jiffy, "1.1.1"},
    {uuid, "2.0.4", {pkg, uuid_erl}}
]}.

{relx, [
    {release, {video_backend, "0.1.0"}, [
        video_signaling,
        video_web,
        sasl
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{shell, [
    {apps, [video_signaling, video_web]}
]}.
